<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TTC main</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>1 Team Project</strong></a>
					<nav id="nav">
						<a href="index.html">Home</a>
						
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>당신을 위한 Time Table Creator</h1>
					</header>

					<div class="flex ">

						<div>
							
							<h3>TIME</h3>
							<p>원하는 시간대와 요일 선택</p>
						</div>

						<div>
							
							<h3>DATA</h3>
							<p>학과와 학년 입력</p>
						</div>

						<div>
							
							<h3>RATIO</h3>
							<p>전공과 교양의 비율 설정</p>
						</div>

					</div>

					<footer>
						<a href="TTC.html" class="button">Get Started</a>
					</footer>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Put your ID and Password</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="ID">ID</label>
							<input name="id" id="id" type="text" placeholder="ID">
						</div>
						<div class="field half">
							<label for="PASSWORD">PASSWORD</label>
							<input name="pw" id="pw" type="text" placeholder="PW">
						</div>
						<ul class="actions">
							<!-- <li><input value="LOGIN" class="button alt" type="submit"></li>-->
							<a href="TTC.html" class="button alt">LOGIN</a>
						</ul>
					</form>




				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
